html, body {
    margin: 0;
    height: 100%;
}

p{
    margin: 0;
}

#app {
    height: 100%;
    background-color: #f5f5f5;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
}

//components
@import 'componets/alerts';
