html,
body {
  margin: 0;
  height: 100%;
}

p {
  margin: 0;
}

#app {
  height: 100%;
  background-color: #f5f5f5;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

