<template>
    <div class="home-wrapper">
        <Header></Header>
        <div class="content">

        </div>
    </div>
</template>

<script>
    import Header from "./Layout/Header";

    export default {
        name: "home",
        components: {
            'Header': Header,
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            }
        }
    }
</script>

<style scoped>
.home-wrapper{
    height: 100%;
    width: 100%;
}
</style>
