<template>
    <div id="main">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "mainApp",
    }
</script>

<style scoped>
    #main {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
</style>
