<template>
    <div class="header">
        <div class="content">
            <div class="nav-item admin" v-if="currentUser.role == 'admin'">
                <div class="icon">

                </div>
                <div class="name">
                    <p>Lietotāju saraksts</p>
                </div>
            </div>
            <div class="nav-item admin" v-if="currentUser.role == 'admin'">
                <div class="icon">

                </div>
                <div class="name">
                    <p>Pievienot lietotaju</p>
                </div>
            </div>
            <div class="nav-item admin" v-if="currentUser.role == 'admin'">
                <div class="icon">

                </div>
                <div class="name">
                    <p>Importēt lietotājus</p>
                </div>
            </div>
            <div class="nav-item admin" v-if="currentUser.role == 'admin'">
                <div class="icon">

                </div>
                <div class="name">
                    <p>writer</p>
                </div>
            </div>
            <a href="#" @click.prevent="logout">Logout</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Header",
        methods: {
            logout() {
                this.$store.commit('logout');
                this.$router.push('/');
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            }
        }
    }
</script>

<style scoped>
.header {
    width: 300px;
    background-color: #636b6f;
}
    .content{
        height: 100%;
        padding: 40px 15px 40px 15px;
    }
</style>
